<section class="advantages" id="advantages">
  <div class="advantages_container container">
    <h2 class="title-h2">Advantages</h2>
    <div class="advantages_content">
      <img
        class="advantages_dollar-mobile"
        src="./img/advantages/dollar.png"
        alt="dollar"
      />
      <ul class="advantages_list">
        <li class="advantages_item">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Engaging and intuitive gameplay</span> – easy to learn, hard
            to master!
          </p>
        </li>
        <li class="advantages_item">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Financial strategies</span> – make investment decisions to
            maximize profits.
          </p>
        </li>
        <li class="advantages_item">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Automated income</span> – earn money even when you're away!
          </p>
        </li>
      </ul>
      <img
        class="advantages_dollar-desc"
        src="./img/advantages/dollar.png"
        alt="dollar"
      />
      <ul class="advantages_list advantages_list2">
        <li class="advantages_item advantages_item2">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Expand your empire</span> – open new branches and increase your influence.
          </p>
        </li>
        <li class="advantages_item advantages_item2">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Hire top managers</span> – optimize operations and boost growth.
          </p>
        </li>
        <li class="advantages_item advantages_item2">
          <img src="./img/advantages/coin.png" alt="coin" />
          <p>
            <span>Upgrade Your Bank</span> – Unlock new technologies and modernize your  empire!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
