<section class="description">
  <div class="description_container container">
    <h2 class="title-h2">Game Description</h2>
    <div class="description_content">
      <div class="description_content-left">
        <p>
          Welcome to <span>Bank Empire Idle 3D</span>, the ultimate financial
          tycoon game! Take charge of your own banking empire, manage clients,
          invest in real estate and technology, and watch your wealth grow.
        </p>
        <p>
          With a combination of strategy, tycoon mechanics, and idle gameplay,
          this game allows you to generate profits even when you're offline.
          Make smart investments, optimize your business, and become the most
          powerful financial mogul in the industry!
        </p>
        <img src="./img/description/desc-money.png" alt="money" />
      </div>
      <div class="description_content-right">
        <img src="./img/description/desc-images.jpg" alt="description-img" />
      </div>
    </div>
  </div>
</section>
