<section class="faq" id="faq">
  <div class="faq-inner container">
    <h2 class="title-h2">FAQ</h2>
    <ul class="faq_list">

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <b class="faq_question">Is the game free?</b>
          <span class="svg-container">
            <img class="faq-btn_img" src="/public/img/iwwa_arrow-up.png" alt="arrow-top" width="36" height="36">
          </span>
        </button>
        <p class="faq-answer">
          Yes, but it includes optional in-game purchases.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <b class="faq_question">Can I play offline? </b>
          <span class="svg-container">
            <img class="faq-btn_img" src="/public/img/iwwa_arrow-up.png" alt="arrow-top" width="36" height="36">
          </span>
        </button>
        <p class="faq-answer">
          Core mechanics work offline, but events and updates require an internet connection.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <b class="faq_question">How can I grow my business faster?</b>
          <span class="svg-container">
            <img class="faq-btn_img" src="/public/img/iwwa_arrow-up.png" alt="arrow-top" width="36" height="36">
          </span>
        </button>
        <p class="faq-answer">
          Yes, just invest in technology and automation.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <b class="faq_question">Is there multiplayer?</b>
          <span class="svg-container">
            <img class="faq-btn_img" src="/public/img/iwwa_arrow-up.png" alt="arrow-top" width="36" height="36">
          </span>
        </button>
        <p class="faq-answer">
          Not yet, but online events are planned very soon.
        </p>
      </li>

    </ul>
    <img src="/public/img/coins1.png" alt="coins" class="faq-coins1">
    <img src="/public/img/coins2.png" alt="coins" class="faq-coins2">
  </div>
</section>