<div id="features-anchor" style="height: 0; scroll-margin-top: 120px"></div>
<section class="features">
  <div class="features_container container">
    <h2 class="title-h2">Game Features</h2>
    <div class="swiper swiper-features">
      <div class="swiper-wrapper swiper-wrapper-features">
        <div class="swiper-slide swiper-slide-features">
          <img
            src="/public/img/features/features-1.png"
            alt="features-1"
            class="features-img"
          />
          <h3>Bank expansion</h3>
          <p>
            construct new branches, upgrade departments, and increase revenue.
          </p>
        </div>

        <div class="swiper-slide swiper-slide-features">
          <img
            src="/public/img/features/features-2.png"
            alt="features-2"
            class="features-img"
          />
          <h3>Smart investments</h3>
          <p>trade stocks, real estate, and cryptocurrency.</p>
        </div>

        <div class="swiper-slide swiper-slide-features">
          <img
            src="/public/img/features/features-3.png"
            alt="features-3"
            class="features-img"
          />
          <h3>Economic challenges</h3>
          <p>face financial crises and outperform competitors.</p>
        </div>

        <div class="swiper-slide swiper-slide-features">
          <img
            src="/public/img/features/features-4.png"
            alt="features-4"
            class="features-img"
          />
          <h3>Financial analytics</h3>
          <p>monitor income and expenses with detailed charts.</p>
        </div>

        <div class="swiper-slide swiper-slide-features">
          <img
            src="/public/img/features/features-5.png"
            alt="features-5"
            class="features-img"
          />
          <h3>Personnel management</h3>
          <p>hire and train employees to boost efficiency.</p>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img
          src="/public/img/features/arrow-left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next">
        <img
          src="/public/img/features/arrow-right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
  </div>
</section>
