<section class="hero">
  <h2 class="visually-hidden">Bank Empire Idle 3D</h2>
  <div class="hero_container container">
    <div class="hero-inner-left">
      <img class="hero-logo" src="./public/img/hero/logo.png" alt="logo" />
      <button class="hero-button" type="button">
        <a href="#" rel="noopener noreferrer"
          ><img src="./public/img/hero/google-play-btn.png" alt="google-play"
        /></a>
      </button>
    </div>
    <div class="hero-inner-right">
      <img class="hero-man" src="./public/img/hero/hero-man.png" alt="hero-image" />
    </div>
  </div>
</section>
