<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">User Reviews</h2>
    <img src="/public/img/reviews/coins-1.png" alt="coins" class="reviews-coins-1" />
    <img src="/public/img/reviews/coins-2.png" alt="coins" class="reviews-coins-2" />
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-review">
          <div class="review-author">
            <div class="review-author-img">
              <img src="/public/img/reviews/person-1.png" alt="avatar-1" />
            </div>
            <p>Emma W.:</p>
          </div>
          <p>
            "A great idle simulator! I love feeling like a real banking tycoon!"
          </p>
        </div>

        <div class="swiper-slide swiper-slide-review swiper-slide-2">
          <div class="review-author">
            <div class="review-author-img">
              <img src="/public/img/reviews/person-2.png" alt="avatar-2" />
            </div>
            <p>Michael J.:</p>
          </div>
          <p>
            "Automation makes the gameplay engaging even when I'm not actively
            playing."
          </p>
        </div>

        <div class="swiper-slide swiper-slide-review">
          <div class="review-author">
            <div class="review-author-img">
              <img src="/public/img/reviews/person-3.png" alt="avatar-3" />
            </div>
            <p>Liam T.:</p>
          </div>
          <p>"I enjoy the variety of financial strategies you can explore!"</p>
        </div>

        <div class="swiper-slide swiper-slide-review">
          <div class="review-author">
            <div class="review-author-img">
              <img src="/public/img/reviews/person-4.png" alt="avatar-4" />
            </div>
            <p>Sophia D.:</p>
          </div>
          <p>"Watching my capital grow is so satisfying! Highly addictive."</p>
        </div>

        <div class="swiper-slide swiper-slide-review">
          <div class="review-author">
            <div class="review-author-img">
              <img src="/public/img/reviews/person-5.png" alt="avatar-5" />
            </div>
            <p>Olivia R.:</p>
          </div>
          <p>"Detailed mechanics and exciting upgrades – I'm hooked!"</p>
        </div>
      </div>
    </div>
  </div>
</section>
